.area-of-activity{
    padding: 100px 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 100px;
    .area-of-activity--img{
        width: 50%;
    }
    .area-of-activity--description{
     margin-top: 108px;   
     width: 50%;

     h3{
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 27px;
     }
     p{
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 24px;
     }
    }
    button{
     padding: 16px 32px;   
     margin-top: 14px;
     background-color: #FCC068;
    }
}