.block_arrow {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.block_contacts {
    width: 20px;
    height: 20px;
}
.block_button {
    width: 100px;
    height: 100px;
    margin-top: 18px;
}
.block_logo {
    width: 120px;
    height: 29px;
    margin-left: 30px;
}
.phone-mob{
    width: 24px;
    height: 24px;
}