.implants {
    padding: 0px 0px 100px 0;
    .implants-content{
        margin: 0 auto;
    max-width: 996px;
    }
    h3{
        font-size: 42px;
        font-weight: 300;
        margin-bottom: 32px;
    }
    p{
        font-weight: 427x;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 10px;
    }
    h4{
        font-size: 42px;
        font-weight: 300;
        margin-top: 81px;
    }
    span {
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-top: 32px;

        margin-bottom: 16px;

    }
    .line-3{
        display: flex; justify-content: center;
        margin-top: 107px;
        margin-bottom: 80px;
    }
}