.media{
    padding: 100px 120px;
    max-width: 1440px;
    margin: 0 auto;
    h3{
        font-size: 42px;
        font-weight: 300;
    }
}
.uk-card-body{
padding: 0px!important;
}
.uk-card-title{
    color: black;
    font-size: 18px!important;
}
.uk-icon{
    color: #000000;
}