.who-can-do{
    padding: 100px 0px 100px 0px;
.who-can-do--content{
margin: 0 auto;
    max-width: 772px;
}
h2{
    font-size: 32px;
    font-family: Raleway, sans-serif;
    margin-bottom: 16px;
}
p{
    line-height: 24px;
}
}