<div class="about-clinic">
    <div class="about-clinic--img">
        <img src="./img/clinik.webp" alt="foto">
    </div>

    <div class="about-clinic--description">
        <h3>ПРО КЛІНІКУ</h3>
        <p>Медичний дім Odrex — провідна приватна клініка півдня України.</p>
        <span>Сьогодні у Медичному домі працює понад 1000 співробітників. На 18 000 м² розташувалися 180 ліжок і
            надаються всі види амбулаторно-поліклінічної, стаціонарної та хірургічної допомоги.</span>
        <br>
        <span>В основу роботи покладені світові протоколи діагностики та лікування. Медичний дім Odrex є партнером
            світових лідерів у галузі медичних технологій, таких як Canon (Японія) та Medtronic (США). </span>
        <form action="/about-clinic.html">
            <button>ДЕТАЛЬНІШЕ ПРО КЛІНІКУ</button>
        </form>
    </div>
</div>