<div class="acquaintance">
    <div class="acquaintance_wrapper">
        <h2>ЗНАЙОМТЕСЬ</h2>
        <p>Доктор Сажієнко – є сертифікованим фахівцем у галузі пластичної, естетичної та реконструктивної хірургії.</p>
        <p>Також лікар сертифікований за спеціальностями – загальна хірургія та хірургічна онкологія.</p>
        <p>Свою медичну діяльність Володимир Сажієнко розпочав у 1991 році, а як лікар веде практику з 2001 року.</p>
        <p>Володимир Сажієнко, єдиний хто закінчив у 2007 році навчальний курс з ПЛАСТИЧНОЇ хірургії з листом подяки
            (посилання). Після кількох циклів базового навчання в галузі пластичної хірургії доктор навчався і проходив
            практику в клініках і навчальних центрах таких країн як: Швейцарія 🇨🇭, Німеччина 🇩🇪, Іспанія 🇪🇸,
            Франція 🇫🇷, Бельгія 🇧🇪, Швеція 🇸🇪, Румунія 🇷🇴, Туреччина 🇹🇷, Латвія 🇱🇻 та РФ.</p>
        <img class="acquaintance-hand" src="./img//hand.webp" alt="hand">

    </div>
</div>