<div class="advantages-about-clinic">
    <h2>ПЕРЕВАГИ КЛІНІКИ</h2>
    <div class="advantages-about-clinic--container">
        <div class="advantages-block">
            <div class="advantages-block-header">
                <div>
                    <h3>БЕЗПЕКА</h3> <span>01/</span>
                </div>
                <img src="./img/line-1.webp" alt="line">

            </div>
            <div class="advantages-block-description">
                <p>Декілька речень про наявність бомбосховища в клініці. Я оперую тільки в клініках, здатних забезпечити
                    максимальну стерильність. Тому я проводжу пластичні операції в ізольованій приватній клініці, яка
                    спеціалізується виключно на естетичній медицині.</p>
            </div>
        </div>
        <div class="advantages-block">
            <div class="advantages-block-header">
                <div>
                    <h3>СТЕРИЛЬНІСТЬ</h3> <span>02/</span>
                </div>
                <img src="./img/line-1.webp" alt="line">

            </div>
            <div class="advantages-block-description">
                <p>Декілька речень про наявність бомбосховища в клініці. Я оперую тільки в клініках, здатних забезпечити
                    максимальну стерильність. Тому я проводжу пластичні операції в ізольованій приватній клініці, яка
                    спеціалізується виключно на естетичній медицині.</p>
            </div>
        </div>
        <div class="advantages-block">
            <div class="advantages-block-header">
                <div>
                    <h3>ТЕХНОЛОГІЇ</h3> <span>03/</span>
                </div>
                <img src="./img/line-1.webp" alt="line">

            </div>
            <div class="advantages-block-description">
                <p>Декілька речень про наявність бомбосховища в клініці. Я оперую тільки в клініках, здатних забезпечити
                    максимальну стерильність. Тому я проводжу пластичні операції в ізольованій приватній клініці, яка
                    спеціалізується виключно на естетичній медицині.</p>
            </div>
        </div>
        <div class="advantages-block">
            <div class="advantages-block-header">
                <div>
                    <h3>КОМФОРТ</h3> <span>04/</span>
                </div>
                <img src="./img/line-1.webp" alt="line">

            </div>
            <div class="advantages-block-description">
                <p>Декілька речень про наявність бомбосховища в клініці. Я оперую тільки в клініках, здатних забезпечити
                    максимальну стерильність. Тому я проводжу пластичні операції в ізольованій приватній клініці, яка
                    спеціалізується виключно на естетичній медицині.</p>
            </div>
        </div>
    </div>

</div>