<div class="area-of-activity">
    <div class="area-of-activity--img">
        <img src="./img/doctor-5.webp" alt="foto">
    </div>

    <div class="area-of-activity--description">
        <h3>ОСНОВНІ НАПРЯМКИ ДІЯЛЬНОСТІ</h3>
        <div class="line-3"><img src="./img/line-3.png" alt="line"></div>

        <p>Основними напрямками практики діяльності доктора Сажієнка є естетична та реконструктивна пластична хірургія
            обличчя, тіла та кінцівок з використанням як традиційних методик, так і із застосуванням малоінвазивних
            ендоскопічних операцій, а також методів спрямованої регенерації пошкоджених тканин. Також, лікар є
            багаторічним експертом у галузі відновлення тіла після значного схуднення – постбаріатрична пластична
            хірургія.</p>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations">ЗАПИСАТИСЯ НА
            КОНСУЛЬТАЦІЮ</button>
    </div>
</div>