<div class="blog-content">
    <div class="blog-content-wrapper">
        <div class="blog-content-conteiner">
            <div class="blog-content-date">
                <span>15.01.2024</span>
                <div class="reiting">
                    <div class="block_arrow --svg__eye "></div> 105
                </div>
            </div>
            <img class="blog-img" src="./img/blog-img-1.jpg" alt="img">
            <div class="blog-part-1">
                <h2 class="h2-blog">Заголовок 2. Як правильно підготуватися до найкращого відновлення до та після
                    операції</h2>
                <p class="p-blog">Текст 1. Привіт, з вами лікар Володимир Сажієнко. Я двосторонній сертифікований
                    лицевий пластичний хірург. У цьому відео я збираюся обговорити, як підготуватися до майбутньої
                    операції таким чином, щоб ви могли виконувати відповідні дії до та після операції, щоб отримати
                    найкращий результат від операції та швидко одужати. Отже, перше, що я хочу зробити, це розділити
                    його на дві категорії. Одна з них полягає в тому, як зосередитися на своєму розумінні та емоційному
                    самопочутті перед операцією, тому що давайте подивимось правді в очі: розум і тіло, між ними існує
                    зв’язок, і те, що ви можете зробити, щоб підготувати своє мислення до операції, справді допоможе на
                    спині. відновлення. По-друге, це те, що ви можете зробити з фізичного аспекту для свого тіла, щоб ви
                    могли підготувати своє тіло до майбутньої операції.
                    Тож з емоційної точки зору я люблю надсилати своїм пацієнтам програму для медитації, і ви можете
                    знайти власний спосіб зробити це, але практикуючи вправи на розслаблення через медитацію, чи то
                    через духовні вправи, чи через перебування в місці глибокої тиші. Це різні способи вирішення
                    проблем, як зменшити кількість стресу та хвилювання, через які ви проходите до та після операції. І
                    ми знаємо, що коли ми можемо зменшити кількість стресу та тривоги на тілі з психічної точки зору, ви
                    одужаєте швидше. Тіло знаходиться у відповідному сприйнятливому настрої, щоб мати можливість швидко
                    загоюватися. Візуалізація - ще один спосіб пройти операцію. Візуалізація того, як ви досягаєте тієї
                    позитивної мети, яку ви шукаєте наприкінці операції, допоможе вам подолати біль, пройти через деякі
                    гострі моменти, через які вам доведеться пройти під час операції.</p>

            </div>
            <div class="blog-part-2">
                <h3 class="h3-blog">Заголовок 3. Як правильно підготуватися до найкращого відновлення до та після
                    операції</h3>

                <p class="p-blog">Текст 2. Отже, з емоційної точки зору. Тепер, коли ми перейдемо до фізичної точки
                    зору, як привести своє тіло в найкраще здоров’я перед операцією, перш за все добре харчуватися.
                    Переконайтеся, що ви їсте багато здорової їжі: збалансовану дієту з білками, високим вмістом
                    клітковини, достатньою кількістю жирів і невеликою кількістю вуглеводів. Це зменшить запалення і
                    дозволить швидше одужати. По-друге, добре зволожити. Це означає не лише воду, а достатню кількість
                    електролітів у воді. Отже, якщо ви просто п’єте воду для зволоження, ви розбавляєте кров великою
                    кількістю води, що насправді може спричинити збільшення набряків, і це суперечить інтуїції, оскільки
                    люди думають, що, додаючи сіль у свій раціон, вони збираються мати більше набряків. Насправді, це
                    хороший баланс електролітів з достатньою кількістю натрію, калію, магнію, і ви можете додати це
                    через вітаміни або полівітаміни, але переконайтеся, що в ньому немає жодних добавок, про які ми
                    хвилюємося, які можуть викликати додаткову кровотечу. Останнє, що потрібно рухатися! Тому
                    переконайтеся, що ви практикуєте хорошу звичку щоденних фізичних вправ, будь то силові та кардіо
                    вправи, щоб переконатися, що ваша серцева функція найкраща, а ваші м’язи готові до самої операції.
                    Останні, але не менш важливі дві речі, яких слід уникати перед і після операції, і це буде вживання
                    алкоголю, що може спричинити зневоднення. А по-друге, уникайте куріння принаймні за три тижні до
                    операції, щоб оптимізувати роботу судин до та після операції. Щиро дякуємо, що долучилися. Щоб
                    дізнатися більше, перейдіть на наш канал YouTube @facesbydrt1, де у нас є більше відео, які ви
                    можете переглянути, а також на наш канал Instagram @facesbydrt. Дякуємо, що підключилися.</p>

            </div>
            <img class="blog-img" src="./img/blog-img-2.jpg" alt="blog">
            <div class="blog-part-3">
                <h4 class="h4-blog">Заголовок 4. Відмова від відповідальності:</h4>
                <ul class="blog-list">
                    <li>інформація в цьому відео призначена лише для освітніх цілей і не повинна розглядатися як медична
                        порада.</li>
                    <li>Індивідуальні результати та досвід можуть відрізнятися. Інформація, надана в цьому відео,
                        призначена лише для загальних інформаційних цілей і не є медичною практикою або іншими
                        професійними медичними послугами, включно з наданням медичних консультацій, і ніяких стосунків
                        між лікарем і пацієнтом не створюється.</li>
                    <li>Використання інформації в цьому відео здійснюється на власний ризик користувача та слухача.*
                    </li>
                </ul>
            </div>
            <div class="blog-part-4">
                <h4 class="h4-blog">Заголовок 4. Рекомендації</h4>
                <p class="p2-blog">У цьому відео доктор Крістіна Тансаватді розповідає, що ви можете зробити, щоб
                    підготуватися до майбутньої операції. Таким чином ви зможете зробити відповідні дії до та після
                    операції, щоб отримати найкращий результат і швидко одужати. Доктор Тансаватді зосереджується на
                    емоційній і фізичній підготовці до операції як до, так і після.</p>
            </div>
        </div>
        <a class="go-to-blog" href="./blog.html">
            <div class="block_arrow --svg__left svg-left "></div><span>НАЗАД ДО БЛОГУ </span>
        </a>
    </div>
</div>