<div class="blog-items">
    <div class="blog-item">
        <div class="blog-date">15. 10. 2024</div>
        <h2>Як підготуватися до найкращого можливого відновлення після операції</h2>
        <p>Привіт, я лікар Володимир Сажієнко. Я сертифікований лицевий пластичний хірург. У цьому відео я збираюся
            обговорити, як підготуватися до майбутньої операції таким чином, щоб ви могли виконати належні дії до ...
        </p>
        <button>ЧИТАТИ ДАЛІ</button>
    </div>
    <div class="blog-item">
        <div class="blog-date">15. 10. 2024</div>
        <h2>Як підготуватися до найкращого можливого відновлення після операції</h2>
        <p>Привіт, я лікар Володимир Сажієнко. Я сертифікований лицевий пластичний хірург. У цьому відео я збираюся
            обговорити, як підготуватися до майбутньої операції таким чином, щоб ви могли виконати належні дії до ...
        </p>
        <button>ЧИТАТИ ДАЛІ</button>
    </div>
    <div class="blog-item">
        <div class="blog-date">15. 10. 2024</div>
        <h2>Як підготуватися до найкращого можливого відновлення після операції</h2>
        <p>Привіт, я лікар Володимир Сажієнко. Я сертифікований лицевий пластичний хірург. У цьому відео я збираюся
            обговорити, як підготуватися до майбутньої операції таким чином, щоб ви могли виконати належні дії до ...
        </p>
        <button>ЧИТАТИ ДАЛІ</button>
    </div>
    <div class="blog-item">
        <div class="blog-date">15. 10. 2024</div>
        <h2>Як підготуватися до найкращого можливого відновлення після операції</h2>
        <p>Привіт, я лікар Володимир Сажієнко. Я сертифікований лицевий пластичний хірург. У цьому відео я збираюся
            обговорити, як підготуватися до майбутньої операції таким чином, щоб ви могли виконати належні дії до ...
        </p>
        <button>ЧИТАТИ ДАЛІ</button>
    </div>
    <div class="blog-item">
        <div class="blog-date">15. 10. 2024</div>
        <h2>Як підготуватися до найкращого можливого відновлення після операції</h2>
        <p>Привіт, я лікар Володимир Сажієнко. Я сертифікований лицевий пластичний хірург. У цьому відео я збираюся
            обговорити, як підготуватися до майбутньої операції таким чином, щоб ви могли виконати належні дії до ...
        </p>
        <button>ЧИТАТИ ДАЛІ</button>
    </div>

</div>