<div class="cases">
    <p class="cases__description">КЕЙСИ ДО/ПІСЛЯ</p>
    <ul class="cases_photo-galerry">
        <li class="photo-block">
            <button id="modal-cases">
                <div class="uk-card-media-top">
                    <img src="./img/case-1.webp" alt="">
                    <div>Липосакція зовнішньої та внутрішньої поверхні стегон</div>
                </div>
            </button>
        </li>
        <li class="photo-block">
            <button id="modal-cases">
                <div class="uk-card-media-top">
                    <img src="./img/case-2.webp" alt="">
                    <div>Назва послуги з коротким описом, до трьох рядків. Назва послуги з коротким описом, до трьох
                        рядків
                    </div>
                </div>
            </button>
        </li>
        <li class="photo-block">
            <button id="modal-cases">
                <div class="uk-card-media-top">
                    <img src="./img/case-3.webp" alt="">
                    <div>Назва послуги з коротким описом, до трьох рядк ів</div>
                </div>
            </button>
        </li>
    </ul>
    <form action="/gallery.html">
        <button class="consultation">ПЕРЕЙТИ ДО ГАЛЕРЕЇ</button>
    </form>
</div>