<div class="consultations advanteges">
    <h2>ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</h2>
    <p>до лікаря Володимира Сажієнко</p>
    <form class="consultations-form" action="submit">
        <div>
            <div class="consultations_inputs">
                <input type="text" placeholder="Ваше ім'я">
                <input type="text" placeholder="Телефон">
            </div>
            <p>Оберіть зручний мессенджер для зв'язку</p>
            <div class="radioo-inputs">
                <div>
                    <input type="radio" id="phone" name="contact" value="phone">
                    <label for="phone">ТЕЛЕФОН</label>
                </div>
                <div>
                    <input type="radio" id="telegramm" name="contact" value="telegramm">
                    <label for="telegramm">TELEGRAM</label>
                </div>

            </div>

            <div class="radioo-inputs">
                <div>
                    <input type="radio" id="viber" name="contact" value="viber">
                    <label for="viber">VIBER</label>
                </div>
                <div>
                    <input type="radio" id="watsup" name="contact" value="watsup">
                    <label for="watsup">WHATSAPP</label>
                </div>
            </div>
            <input class="send-form" type="submit" value="НАДІСЛАТИ" />
        </div>

    </form>
    <div class="form-footer">
        <p>Натискаючи кнопку "Надіслати", я даю згоду на обробку персональних даних.</p>
    </div>
</div>