<div class="contacts-header">
    <div class="contacts-header-content">
        <div class="contact">
            <h1>КОНТАКТИ</h1>
            <ul class="contacts-name">
                <li>ТЕЛЕФОН</li>
                <li>|</li>
                <li>МЕСЕНДЖЕРИ</li>
            </ul>
            <ul class="contact-list">
                <li><a href="tel:+380 (63) 835-18-66">+380 (63) 835-18-66</a> </li>
                <li><a href="">Viber</a> </li>
                <li><a href="">WhatsApp</a></li>
                <li><a href="">Telegram</a></li>
            </ul>
            <div class="circle"></div>
            <div class="email-contact">
                <span>EMAIL</span>
                <div><a href="">sazhiyenko@gmail.com</a> </div>
            </div>
            <div class="circle"></div>
            <div class="contacts-adress">
                <div class="adress">
                    <span>АДРЕССА</span>

                    <div class="clinic-name">Клініка "Медичний дім ODREX"</div>
                    <div class="clinic-adress">м. Одесса</div>
                    <div class="clinic-adress">вул. Розкидайлівська 69/71</div>
                </div>
                <div class="work-time">
                    <div class="work-time-header">ГРАФІК РОБОТИ</div>
                    <div class="time">Пн. - Пт. 10.00 - 15.00,</div>
                    <div class="time">Сб. 10.00 - 13.00</div>
                </div>
            </div>
            <div class="circle"></div>
            <div class="social">
                <div class="social-name">СОЦ МЕРЕЖІ</div>
                <div class="social-list">
                    <a href="/">
                        <div class="block_contacts --svg__instagram"></div>
                    </a>
                    <a href="/">
                        <div class="block_contacts --svg__facebook"></div>
                    </a>
                    <a href="/">
                        <div class="block_contacts --svg__tik-tok"></div>
                    </a>
                    <a href="/">
                        <div class="block_contacts --svg__youtube"></div>
                    </a>
                    <a href="/">
                        <div class="block_contacts --svg__mail"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="consultations standart consultations-contact">
            <h2>ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</h2>
            <form class="consultations-form" action="submit">
                <div>
                    <div class="consultations_inputs">
                        <input type="text" placeholder="Ваше ім'я">
                        <input type="text" placeholder="Телефон">
                        <input type="text" placeholder="Email">
                        <textarea type="text" placeholder="Ваше повідомлення"></textarea>
                    </div>
                    <p>Оберіть зручний мессенджер для зв'язку</p>
                    <div class="radioo-inputs">
                        <div>
                            <input type="radio" id="phone" name="contact" value="phone">
                            <label for="phone">ТЕЛЕФОН</label>
                        </div>
                        <div>
                            <input type="radio" id="telegramm" name="contact" value="telegramm">
                            <label for="telegramm">TELEGRAM</label>
                        </div>

                    </div>

                    <div class="radioo-inputs">
                        <div>
                            <input type="radio" id="viber" name="contact" value="viber">
                            <label for="viber">VIBER</label>
                        </div>
                        <div>
                            <input type="radio" id="watsup" name="contact" value="watsup">
                            <label for="watsup">WHATSAPP</label>
                        </div>
                    </div>
                    <input class="send-form" type="submit" value="НАДІСЛАТИ" />
                </div>

            </form>
            <div class="form-footer">
                <p>Натискаючи кнопку "Надіслати", я даю згоду на обробку персональних даних.</p>
            </div>
        </div>
    </div>
</div>