<div class="double-foto">
    <div class="double-foto-wrapper">
        <ul>
            <li><img src="./img/Rectangle 235.webp" alt=""></li>
            <li><img src="./img/Rectangle 236.webp" alt=""></li>
        </ul>
    </div>
    <p>Володимир Сажієнко є організатором соціальної ініціативи, присвяченої поінформованості жінок можливості
        відновлення молочної залози після онкологічних операцій - ODREX BRA DAY. <br> Також він був багаторічним
        експертом/пластичним хірургом у телепроекті каналу СТБ - «Я стыдлюсь свого тіла».</p>
</div>