<div class="facts">
    <div class="facts-description">
        <h3 class="facts-doctor">КОРОТКІ ФАКТИ ПРО ЛІКАРЯ</h3>
        <h3 class="name">ВОЛОДИМИРА САЖІЄНКО</h3>
    </div>
    <div class="facts-block">
        <img class="doctor-img" src="./img/doctor-3.webp" alt="doctor">
        <div class="activity">
            <p>Основні напрямки практичної діяльності:</p>
            <ul>
                <li> естетична хірургія </li>
                <li> пластична хірургія після значного схуднення </li>
                <li> реконструктивна пластична хірургія наслідків поранень, вроджених анмалій розвитку та раніше
                    проведених операцій </li>
                <li> онкопластична хірургія </li>
                <li> регенеративна пластична хірургія</li>
            </ul>
            <div class="line-2"></div>
            <p>Сертифіковано за 3-ма спеціальностями:</p>
            <ul>
                <li>пластична реконструктивня та естетична хірургія, хірургічна онкологія, загальна хірургія.</li>
            </ul>
            <div class="line-2"></div>
            <p>Стажування та навчання у таких країнах як:</p>
            <ul>
                <li>Швейцарія, Німеччина, Іспанія, Франція, Бельгія, Швеція, Румунія, Туреччина, Латвія та РФ.</li>
            </ul>
            <form action="/about.html">
                <button class="facts-button">ДЕТАЛЬНІШЕ ПРО ЛІКАРЯ</button>
            </form>
        </div>

    </div>
    <div class="fatcs-experience">
        <ul>
            <li class="experience-years-list">
                <div> <span class="experience-years">33 </span> <span class="years">роки</span></div>
                <div>загальний медичний стаж</div>
            </li>
            <li class="experience-years-list">
                <div> <span class="experience-years">23 </span><span class="years">роки</span> </div>
                <div>загальний хірургічний стаж</div>
            </li>
            <li class="experience-years-list experience-years--last">
                <div> <span class="experience-years ">18 </span><span class="years">роки</span></div>
                <div>стаж у галузі пластичної хірургії</div>
            </li>
        </ul>
    </div>
</div>