<div class="faq">
    <div class="faq-wrapper">
        <h3 class="faq-description">ПОШИРЕНІ ЗАПИТАННЯ</Р>
    <ul class="accordion" uk-accordion="chevron-down" > <!-- Родительский контейнер -->
        <li >
            <a   class="uk-accordion-title" href><span>01</span>  Заголовок блока на который нужно нажать</a>
            <div class="uk-accordion-content">
                <div class="accordion-content">
                    <div class="content-header">
                    <div class="head" ></div>
                <div class="description"> 
                    Содержимое блока 1. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</div>
            </div>
        </div>
    </div>
        </li>
        <li>
            <a   class="uk-accordion-title" href><span>02</span> Заголовок блока на который нужно нажать</a>
            <div class="uk-accordion-content">
                <div class="accordion-content">
                    <div class="content-header">
                    <div class="head" ></div>
                <div class="description"> 
                    Содержимое блока 1. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</div>
            </div>
        </div>
    </div>
        </li>
        <li>
            <a   class="uk-accordion-title" href><span>03</span> Заголовок блока на который нужно нажать</a>
            <div class="uk-accordion-content">
                <div class="accordion-content">
                <div class="description"> 
                    Содержимое блока 1. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</div>
            </div>
        </div>
    </div>
        </li>
    </ul>
    </div>
</div>