<footer class="footer">
    <div class="footer-header">
        <h3>VOLODYMYR SAZHIYENKO</h3>
        <p>Plastic Surgeon</p>
    </div>
    <div class="footer-content">
        <div class="left-block">
            <ul class="left-block--menu">
                <li> <a href="/about.html">ПРО ЛІКАРЯ</a> </li>
                <li> <a href="/about-clinic.html">ПРО КЛІНІКУ</a> </li>
                <li><a href="/gallery.html">ГАЛЕРЕЯ</a> </li>
                <li><a href="/price.html">ПРАЙС</a></li>
                <li><a href="/reviews.html">ВІДГУКИ</a></li>
                <li><a href="/blog.html">БЛОГ</a></li>
                <li><a href="/contacts.html">КОНТАКТИ</a></li>
            </ul>
            <div class="footer-descriptions">
                <span>Клініка “Медичний дім ODREX”</span>
                <div>м. Одеса </div>
                <div>вул. Розкидайлівська 69/71</div>
            </div>
            <div class="rigth-block">
                <div> <span><a href="tel:+380 (63) 835-18-66">+380 (63) 835-18-66</a> </span>
                </div>
                <div class="footer-contacts">
                    <a href=""><span>TELEGRAM</span></a>
                    <a href=""><span>VIBER</span></a>
                    <a href=""><span>WATSAPP</span></a>

                </div>
                <div class="footer-email">
                    <a href="mailto:sazhiyenko@gmail.com">sazhiyenko@gmail.com</a>
                </div>
                <ul class="footer-icons">
                    <li> <a href="">
                            <div class="block_contacts --svg__instagram-w"></div>
                        </a> </li>
                    <li><a href="">
                            <div class="block_contacts --svg__facebook-w"></div>
                        </a></li>
                    <li><a href="">
                            <div class="block_contacts --svg__ticktok-w"></div>
                        </a> </li>
                    <li><a href="">
                            <div class="block_contacts --svg__youtube-w"></div>
                        </a></li>
                </ul>
            </div>
        </div>



    </div>
    <div class="footer--block">
        <a href="/"><span class="deal">Угода користувача</span></a>
        <a href="/"><span>Політика конфіденційності</span></a>

        <div class="copyright">
            <div class="copyright-left">
                Copyright © 2024 Volodymyr Sazhiyenko. All rights reserved.
            </div>
            <div class="copyright-right">
                <div>Розробка та просування сайту </div>
                <div class="block_logo --svg__logo"></div>
            </div>
        </div>
    </div>
</footer>