<div class="gallery-item">
    <div class="gallery-item-wrapper">
        <ul>
            <li>
                <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-gallery">
                    <img src="./img/image.jpg" alt="image">
                    <h4>Збільшення сідниць імплантами</h4>
                    <span>Глютеопластика 200 мл круглий Політех, глибоко під м'яз. Ліпоскульптура попереку, боків,
                        живота. 3 тиж. після операції</span>
                </button>
            </li>
            <li>
                <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-gallery">

                    <img src="./img/image.jpg" alt="image">
                    <h4>Збільшення сідниць імплантами</h4>
                    <span>Глютеопластика 200 мл круглий Політех, глибоко під м'яз. Ліпоскульптура попереку, боків,
                        живота. 3 тиж. після операції</span>
                </button>
            </li>
            <li>
                <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-gallery">

                    <img src="./img/image.jpg" alt="image">
                    <h4>Збільшення сідниць імплантами</h4>
                    <span>Глютеопластика 200 мл круглий Політех, глибоко під м'яз. Ліпоскульптура попереку, боків,
                        живота. 3 тиж. після операції</span>
                </button>
            </li>
            <li>
                <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-gallery">

                    <img src="./img/image.jpg" alt="image">
                    <h4>Збільшення сідниць імплантами</h4>
                    <span>Глютеопластика 200 мл круглий Політех, глибоко під м'яз. Ліпоскульптура попереку, боків,
                        живота. 3 тиж. після операції</span>
                </button>
            </li>
        </ul>

    </div>
</div>