<div class="implants">
    <div class="implants-content">
        <h3>ВАРІАНТИ ІМПЛАНТІВ</h3>
        <p>У сучасній пластичній хірургії використовуються безпечні та сертифіковані грудні імплантати. У моїй практиці
            збільшення грудей можна виконати за допомогою круглих або краплинних анатомічних імплантатів. Я пропоную
            імплантати Motiva Ergonomic, Polytech поліуретан, B-Lite та Mentor.</p>
        <p>Круглі імплантати ідеально підходять для пацієнток з твердими, непровисаючими грудьми з порожнім верхом, але
            округлої форми. З цими імплантатами верхня частина грудей стане повнішою та рельєфнішою.</p>
        <p>Імплантати краплеподібної форми найбільше підходять жінкам, у яких груди здаються більш порожніми внизу і
            сосок необхідно злегка підняти. Анатомічні імплантати ідеально підходять для жінок, які хочуть, щоб груди
            виглядали максимально природно.</p>
        <p>Імплантати Motiva Ergonomic найточніше повторюють властивості натуральних грудей. Вони нагадують круглу
            форму, коли жінка лежить, і виглядають анатомічно, коли</p>
        <p>стоять. Ці імплантати називають золотою серединою, оскільки вони дають відмінний результат і виглядають
            природно.</p>
        <p>Імплантати Політех з поліуретану формою не відрізняються від традиційних імплантатів. Однак їхнє унікальне
            спеціальне покриття знижує ризик можливих ускладнень, таких як ротація імплантату або капсулярна
            контрактура.</p>
        <p>Імплантати нового покоління B-Lite на 30 відсотків легші за традиційні. Вони забезпечують меншу напругу
            м'яких тканин та дозволяють довше зберігати бажану форму. Неприємне відчуття розтягування також знижується
            за допомогою цих імплантатів, але вони трохи дорожчі.</p>
        <div class="line-3"><img src="./img/line-2.png" alt="line"></div>

        <h4>ЗАГОЛОВОК</h4>
        <span>Техніка короткого рубця</span>
        <p>Хірургічні розрізи при операціях збільшення грудей можна робити під ареолами сосків або в підгрудних
            («грудних») складках, де шрами найменш помітні. Техніка короткого рубця використовується для того, щоб
            розріз був якнайменшим, що дозволяє вставити імплантат з розрізом всього 3 см. Цей метод підходить не для
            всіх імплантатів, тому кожен випадок обговорюється індивідуально.</p>
        <span>Встановлення імплантату</span>
        <p>Імплантати зазвичай встановлюються за так званою двоплощинною методикою, при якій верхня частина імплантату
            ховається під м'язом, а нижня частина залишається під залозою. У цьому випадку відбувається плавне
            піднесення грудної стінки, завдяки чому груди виглядають більш природно.</p>
        <span>Післяопераційний догляд</span>
        <p>Після цієї операції ви зможете швидко повернутися до повсякденного життя. Тим не менш, дуже важливо
            дотримуватися інструкцій.</p>
        <span>Важливо</span>
        <p>Пацієнти проводять перший день у клініці. Надзвичайно важливо не спати на животі протягом перших 4 тижнів
            після операції, щоб імплантати не змістилися зі свого місця. Обов'язково носити спеціальний бюстгальтер 24
            години на добу та спати на спині та на боках протягом 4-6 тижнів. Перший місяць після операції вимагає мого
            періодичного огляду та перев'язок, але вже через кілька днів можна приступати до роботи, не роблячи різких
            рухів.</p>
        <span>Шрами та загоєння</span>
        <p>Після операції не потрібно знімати шви. Значна припухлість грудей зберігається протягом 2-3 тижнів, але
            незначна припухлість може зберігатися протягом кількох місяців. Остаточне зображення ваших грудей ви
            побачите приблизно через 2-3 місяці, але згодом воно все одно стане м'якшим. Післяопераційний рубець слід
            захищати від прямих сонячних променів протягом як мінімум року, щоб він залишався якомога світлішим. Шрам
            зазвичай стає малопомітним протягом двох років.</p>
        <span>Фізична активність</span>
        <p>Я рекомендую уникати підвищеної фізичної активності та фізичних вправ протягом як мінімум 1-2 місяців.
            Активні заняття спортом та інші фізичні вправи можуть спричинити такі ускладнення, як кровотеча навколо
            імплантату.</p>
    </div>

</div>