<div class="mass-market">
    <div class="mass-market__photo"><img src="./img/doctor.webp" alt=""></div>
    <div class="mass-market__about">
        <div class="mass-market__about-wrapper">
            <div class="coma">“</div>
            <div class="about-description">Пластична хірургія — це не mass market, це завжди індивідуальний дизайн та
                виконання</div>
            <div class="coma coma-last">”</div>
        </div>
        <div class="about-more">
            <div class="line"></div>

            <span><br>Дізнайтеся більше про <br> мою практику</span>
        </div>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
            <div class="block_button --svg__button"></div>
        </button>

        <img class="girl-img" src="./img/girl.png" alt="girl">
    </div>
</div>