<div class="modal-gallery">
    <div id="modal-gallery" class="uk-flex-top " uk-modal>
        <div class="modal-gallery uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div class="gallery-slider">
                <div uk-slider="center: true">
                    <div class="uk-position-relative">
                        <div class="uk-slider-container uk-light">

                            <ul class="uk-slider-items uk-child-width-1-1@m">
                                <li>
                                    <div class="uk-card-media-top">
                                        <img src="../../img/image.jpg" alt="Слайдер">
                                    </div>


                                </li>
                                <li>
                                    <div class="uk-card-media-top">
                                        <img src="../../img/operation-slider.jpg" alt="Слайдер">
                                    </div>


                                </li>
                                <li>
                                    <div class="uk-card-media-top">
                                        <img src="../../img/operation-slider.jpg" alt="Слайдер">
                                    </div>


                                </li>
                                <li>
                                    <div class="uk-card-media-top">
                                        <img src="../../img/operation-slider.jpg" alt="Слайдер">
                                    </div>
                                    <div class="uk-card-body">


                                </li>
                                <li>
                                    <div class="uk-card-media-top">
                                        <img src="../../img/operation-slider.jpg" alt="Слайдер">
                                    </div>


                                </li>

                            </ul>

                        </div>
                        <div class="uk-hidden@s uk-light">
                            <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous
                                uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" href uk-slidenav-next
                                uk-slider-item="next"></a>
                        </div>
                        <div class="uk-visible@s">
                            <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous
                                uk-slider-item="previous"></a>
                            <a class="uk-position-center-right-out uk-position-small" href uk-slidenav-next
                                uk-slider-item="next"></a>
                        </div>
                    </div>
                    <h4>Збільшення сідниць імплантами</h4>
                    <p>Глютеопластика 200 мл круглий Політех, глибоко під м'яз. Ліпоскульптура попереку, боків, живота.
                        3 тиж. після операції</p>
                </div>
            </div>
        </div>
    </div>
</div>