<div class="nav-gallery">
    <ul>
       <li class="active-page"><a href="/">ОБЛИЧЧА ТА ШИЯ</a></li> 
       <li><a href="/">ПОСЛУГИ</a> </li> 
       <li><a href="/">РУКИ</a> </li> 
       <li><a href="/">СПИНА</a> </li> 
       <li><a href="/">ГРУДИ</a> </li> 
       <li><a href="/">ЖИВІТ</a> </li> 
       <li><a href="/">СІДНИЦІ</a> </li>
       <li><a href="/">НОГИ</a> </li>
       <li><a href="/">РЕКОНСТРУКЦІЯ</a> </li>
       <li><a href="/">ПЛАСТИКА ПІСДЛЯ СХУДНЕННЯ</a> </li>
    </ul>
</div>