<div class="operation">
    <div class="operation-content">
        <h2>ЯК ПРОХОДИТЬ ПЛАСТИЧНА ОПЕРАЦІЯ ГРУДЕЙ?</h2>
        <div>
            <div class="operation-header">
                <h3>КОНСУЛЬТАЦІЯ</h3>
                <div>01/</div>
            </div>
            <div class="line"></div>

            <div class="operation-block">

                <div class="image-wrapper">

                    <img src="./img/consultation.webp" alt="foto">
                </div>
                <div class="operation__wrapper">
                    <div class="operation__description">


                        <p>Перш ніж зробити груди в Києві в Grace Clinic, слід пройти первинну консультацію у нашого
                            пластичного хірурга. Він вивчить анамнез, вислухає ваші побажання, виключить протипоказання,
                            допоможе визначитися з формою та об'ємом, підібрати імпланти та тип доступу. Друга
                            консультація призначається за день до операції, щоб уточнити ще раз усі особливості та
                            бажаний результат.</p>
                    </div>
                    <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations"
                        class="consultation">ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</button>
                </div>
            </div>
        </div>
        <div>
            <div class="operation-header reverce">
                <h3> ПОПЕРЕДНЄ ОБСТЕЖЕННЯ</h3>
                <div>02/</div>
            </div>
            <div class="line"></div>

            <div class="operation-block">

                <div class="operation__wrapper reverce">
                    <div class="operation__description">


                        <p>Ми приділяємо особливу увагу вашій безпеці, тому призначаємо передопераційне обстеження, що
                            дозволяє виключити ризики. Якщо ви плануєте поставити імпланти в груди, ціна пластики в
                            нашій клініці вже включає лабораторні аналізи, УЗД молочних залоз та ЕКГ, консультацію
                            анестезіолога, завдяки чому немає додаткових витрат. Обстеження займає лише 1 день.</p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="./img/examination.webp" alt="foto">
                </div>

            </div>
        </div>
        <div>
            <div class="operation-header">
                <h3>ОПЕРАЦІЯ</h3>
                <div>03/</div>
            </div>
            <div class="line"></div>

            <div class="operation-block">
                <div class="image-wrapper">
                    <img src="./img/operation.webp" alt="foto">
                </div>
                <div class="operation__wrapper">
                    <div class="operation__description">

                        <p>В день операції ви можете приїхати в клініку на власному авто та залишити його на нашій
                            парковці або скористатися послугою трансферу. Водій на Tesla забере вас і доставить до
                            клініки, після чого вас розмістять у комфортній палаті.
                            Тривалість мамопластики становить приблизно 1,5 години. Проводиться вона під загальним
                            наркозом. Після процедури ви залишаєтеся під наглядом лікарів у стаціонарі ще на добу.
                            Наступного дня виконується виписка. Далі необхідно приїжджати до клініки для оглядів у
                            хірурга та перев'язок, які також включені у вартість збільшення грудей.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="operation-header reverce">
                <h3>РЕАБІЛІТАЦІЯ</h3>
                <div>04/</div>
            </div>
            <div class="line"></div>

            <div class="operation-block">

                <div class="operation__wrapper reverce">
                    <div class="operation__description">

                        <p>Відновлення після маммопластики займає 3-6 місяців. Перші результати можна оцінити через 1
                            місяць, коли повністю зійдуть набряки, заживуть розрізи та нормалізується стан шкіри. Проте
                            остаточний ефект буде помітний після закінчення реабілітації. Щоб досягти максимального
                            естетичного результату, в перший місяць після операції потрібно цілодобово носити
                            компресійну білизну. При цьому важливо, щоб вона правильно сиділа на грудях. Інші обмеження
                            при реабілітації в перший місяць: - не можна вживати алкоголь і курити або хоча б звести
                            кількість сигарет до мінімуму; - не варто відвідувати сауну, солярій, басейн, приймати
                            ванни, гарячий душ, засмагати; - під забороною сон на животі; слід виключити різкі повороти
                            тулубом, нахили та рухи руками. Також рекомендується в період реабілітації не керувати
                            автомобілем, оскільки обертання керма та ремінь безпеки можуть змістити імпланти.</p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="./img/reabilitation.webp" alt="foto">
                </div>

            </div>
        </div>
    </div>
</div>