<div class="patient-history">
  <div class="patient-history--header">
    <h3>ІСТОРІЇ ПАЦІЄНТІВ</h3>
    <form action="/reviews.html">
      <button class="reviews">Дивитися всі відгуки</button>
    </form>
  </div>
  <ul class="video-block">
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-1.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-2.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-3.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-3.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-1.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-2.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-3.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
    <li>
      <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">
        <img src="./img/video-3.jpg" alt="video">
      </button>
      <div class="video-head">Лілія, 55 років</div>
      <div class="video-description">Липосакція зовнішньої та внутрішньої поверхні стегон</div>
    </li>
  </ul>
</div>