<div class="popular-ways">
    <p class="popular-ways__description">ПОПУЛЯРНІ НАПРЯМИ</p>
    <ul class="photo-galerry">
        <li class="photo-block face">
            <button class="photo-block--button uk-button" type="button">
                <span class="photo-block--text">ОБЛИЧЧА</span>
                <div class="uk-inline ">
                    <p>ДЕТАЛЬНІШЕ</p>
                </div>
            </button>
            <div class="pop-way" uk-dropdown="mode: click; top-center; inset: true">

                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">Ендоскопічна підтяжка</a></li>
                    <li><a href="#">Розширена підтяжка обличчя Deep Plan</a></li>
                    <li><a href="#">Підтяжка обличчя</a></li>
                    <li><a href="#">Глибока підтяжка шиї</a></li>
                    <li><a href="#">Пластика шиї</a></li>
                    <li><a href="#">Пластика повік</a></li>
                    <li><a href="#">Ліпофілінг особи</a></li>
                    <li><a href="#">Пластика губ (хейлопластика)</a></li>
                    <li><a href="#">Видалення грудок Біша</a></li>
                    <li><a href="#">Підтяжка брів</a></li>
                    <li><a href="#">Ліпофілінг </a></li>
                    <li><a href="#">Лицьові імпланти</a></li>
                    <li><a href="#">Пластика вушних раковин</a></li>
                    <li><a href="#">Ринопластика </a></li>
                </ul>
            </div>
        </li>
        <li class="photo-block body">

            <button class="photo-block--button uk-button" type="button">
                <span class="photo-block--text">ТІЛО</span>
                <div class="uk-inline ">
                    <p>ДЕТАЛЬНІШЕ</p>
                </div>
            </button>
            <div class="pop-way" uk-dropdown="mode: click; top-center; inset: true">

                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">Ендоскопічна підтяжка</a></li>
                    <li><a href="#">Розширена підтяжка обличчя Deep Plan</a></li>
                    <li><a href="#">Підтяжка обличчя</a></li>
                    <li><a href="#">Глибока підтяжка шиї</a></li>
                    <li><a href="#">Пластика шиї</a></li>
                    <li><a href="#">Пластика повік</a></li>
                    <li><a href="#">Ліпофілінг особи</a></li>
                    <li><a href="#">Пластика губ (хейлопластика)</a></li>
                    <li><a href="#">Видалення грудок Біша</a></li>
                    <li><a href="#">Підтяжка брів</a></li>
                    <li><a href="#">Ліпофілінг </a></li>
                    <li><a href="#">Лицьові імпланти</a></li>
                    <li><a href="#">Пластика вушних раковин</a></li>
                    <li><a href="#">Ринопластика </a></li>
                </ul>
            </div>
        </li>
        <li class="photo-block breast ">
            <button class="photo-block--button uk-button" type="button">
                <span class="photo-block--text">ГРУДИ</span>
                <div class="uk-inline ">
                    <p>ДЕТАЛЬНІШЕ</p>
                </div>
            </button>
            <div class="pop-way" uk-dropdown="mode: click; top-center; inset: true">

                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">Ендоскопічна підтяжка</a></li>
                    <li><a href="#">Розширена підтяжка обличчя Deep Plan</a></li>
                    <li><a href="#">Підтяжка обличчя</a></li>
                    <li><a href="#">Глибока підтяжка шиї</a></li>
                    <li><a href="#">Пластика шиї</a></li>
                    <li><a href="#">Пластика повік</a></li>
                    <li><a href="#">Ліпофілінг особи</a></li>
                    <li><a href="#">Пластика губ (хейлопластика)</a></li>
                    <li><a href="#">Видалення грудок Біша</a></li>
                    <li><a href="#">Підтяжка брів</a></li>
                    <li><a href="#">Ліпофілінг </a></li>
                    <li><a href="#">Лицьові імпланти</a></li>
                    <li><a href="#">Пластика вушних раковин</a></li>
                    <li><a href="#">Ринопластика </a></li>
                </ul>
            </div>
        </li>
        <li class="photo-block weight">
            <button class="photo-block--button uk-button" type="button">
                <span class="photo-block--text">ВІДНОВЛЕННЯ ПІСЛЯ СХУДНЕННЯ</span>
                <div class="uk-inline ">
                    <p>ДЕТАЛЬНІШЕ</p>
                </div>
            </button>
            <div class="pop-way" uk-dropdown="mode: click; top-center; inset: true">

                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">Ендоскопічна підтяжка</a></li>
                    <li><a href="#">Розширена підтяжка обличчя Deep Plan</a></li>
                    <li><a href="#">Підтяжка обличчя</a></li>
                    <li><a href="#">Глибока підтяжка шиї</a></li>
                    <li><a href="#">Пластика шиї</a></li>
                    <li><a href="#">Пластика повік</a></li>
                    <li><a href="#">Ліпофілінг особи</a></li>
                    <li><a href="#">Пластика губ (хейлопластика)</a></li>
                    <li><a href="#">Видалення грудок Біша</a></li>
                    <li><a href="#">Підтяжка брів</a></li>
                    <li><a href="#">Ліпофілінг </a></li>
                    <li><a href="#">Лицьові імпланти</a></li>
                    <li><a href="#">Пластика вушних раковин</a></li>
                    <li><a href="#">Ринопластика </a></li>
                </ul>
            </div>

        </li>
    </ul>
    <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations"
        class="consultation">ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</button>
    <div class="line-3"><img src="./img//line-2.png" alt="line"></div>
</div>