<div class="popap-consultations">
    <div id="modal-consultations" class="uk-flex-top " uk-modal>
        <div class="modal-consultations uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div class="consultations consultation-popup">
                <h2>ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</h2>
                <p>до лікаря Володимира Сажієнко</p>
                <form class="consultations-form" action="submit">
                    <div>
                        <div class="consultations_inputs">
                            <input type="text" placeholder="Ваше ім'я">
                            <input type="text" placeholder="Телефон">
                        </div>
                        <p>Оберіть зручний мессенджер для зв'язку</p>
                        <div class="radioo-inputs">
                            <div>
                                <input type="radio" id="popup-phone" name="popup-contact" value="phone">
                                <label for="popup-phone">ТЕЛЕФОН</label>
                            </div>
                            <div>
                                <input type="radio" id="popup-telegramm" name="popup-contact" value="telegramm">
                                <label for="popup-telegramm">TELEGRAM</label>
                            </div>

                        </div>

                        <div class="radioo-inputs">
                            <div>
                                <input type="radio" id="popup-viber" name="popup-contact" value="viber">
                                <label for="popup-viber">VIBER</label>
                            </div>
                            <div>
                                <input type="radio" id="popup-watsup" name="popup-contact" value="watsup">
                                <label for="popup-watsup">WHATSAPP</label>
                            </div>
                        </div>
                        <input class="send-form" type="submit" value="НАДІСЛАТИ" />
                    </div>

                </form>
                <div class="form-footer">
                    <p>Натискаючи кнопку "Надіслати", я даю згоду на обробку персональних даних.</p>
                </div>
            </div>
            <button class="uk-modal-close-outside circle-button" type="button" uk-close></button>

        </div>
    </div>
</div>