<div class="preview_about">
    <div class="img-container">
        <img src="./img/doctor-foto.jpg" alt="doctor">
    </div>
    <div class="about-doctor">
        <h1>ВОЛОДИМИР <br> САЖІЄНКО</h1>
        <p>Пластичний херург</p>
        <div>
            <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations"
                class="consultation">ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ</button>
        </div>
        <ul class="about-links">
            <li><a href="/">ГОЛОВНА</a> </li>
            <li>|</li>
            <li>ПРО ЛІКАРЯ </li>
        </ul>
    </div>
</div>