<div class="preparation-surgery">
    <div class="about-clinic">
        <div class="about-clinic--img">
            <img src="./img/doctor-7.webp" alt="foto">
        </div>

        <div class="about-clinic--description">
            <h3>ЯК ПІДГОТУВАТИСЯ ДО <br> ЗБІЛЬШЕННЯ ГРУДЕЙ <br> ІМПЛАНТАМИ?</h3>
            <p>Проконсультуйтеся з лікарем</p>
            <span>Спочатку на консультації з лікарем визначається розмір та форма грудей, що відповідають тілу та
                бажанням пацієнтки. Щоб жінки могли краще зрозуміти розмір і форму своїх грудей після операції, я на
                консультації пропоную примірку зовнішніх сайзерів (розмірників). Потім проводяться всі необхідні аналізи
                та обстеження.</span>
            <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations">ЗАПИСАТИСЯ НА
                КОНСУЛЬТАЦІЮ</button>
        </div>
    </div>
    <div class="line-3"><img src="./img/line-2.png" alt="line"></div>

</div>