<div class="preview-price">
    <div class="preview-gallery_header">
        <h1 class="preview-gallery_name">ПРАЙС</h1>
    </div>
    <div class="gallery-footer">
        <ul class="galery-nav">
            <li><a href="/">ГОЛОВНА</a> </li>
            <li>|</li>
            <li><span>ГАЛЕРЕЯ</span></li>
        </ul>
        <ul class="galery-description">
            <li>Вартість послуг вказана в € (євро) та ₴ (гривні) та має виключно інформаційний характер. Остаточна
                вартість формується після проведення консультації пластичним хірургом</li>
            <li><button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations">ЗАПИСАТИСЯ НА
                    КОНСУЛЬТАЦІЮ</button></li>
        </ul>
    </div>
    <img class="preview-price-img girl-2" src="./img/girl-1.png" alt="girl">
    <img class="preview-price-img girl-1" src="./img/girl-2.png" alt="girl">
</div>