<div class="preview_services">
   
    <div class="services-doctor">
        <h1>ЗБІЛЬШЕННЯ ГРУДЕЙ <br> ІМПЛАНТАМИ</h1>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-consultations" class="button_services">ХОЧУ НА КОНСУЛЬТАЦІЮ</button>
        <ul class="services-links">
            <li><a href="/">ГОЛОВНА</a> </li>
            <li>|</li>
            <li>ЗБІЛЬШЕННЯ ГРУДЕЙ ІМПЛАНТАМИ</li>
        </ul>
    </div>
    <p class="air-kiss">Volodymyr Tsisaryk “Air kiss”. Ukraine</p>
</div>  
