<div class="price-block">
    <div class="price-block-wrapper">
        <h3 class="price-description">ЗАГАЛЬНЕ</h3>
            <ul class="accordion" uk-accordion="chevron-down" > <!-- Родительский контейнер -->
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
            </ul>
    </div>
    <div class="price-block-wrapper">
        <h3 class="price-description">ПАКЕТНІ ПРОПОЗИЦІЇ</h3>
            <ul class="accordion" uk-accordion="chevron-down" > <!-- Родительский контейнер -->
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
                <li >
                    <a   class="uk-accordion-title" href><span>01</span>  ОПЕРАЦІЇ ПІСЛЯ ЗНАЧНОГО СХУДНЕННЯ У ЖІНОК</a>
                    <div class="uk-accordion-content">
                        <div class="accordion-content">
                            <div class="content-header">
                            <div class="head" >

                                <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
                                <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

                            </div>
                        <div> 


<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="position">
    <div class="position-description">
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від
        Нижній жіночий боділіфтинг - підтяжка обвислої шкіри живота, лобка, зовнішньої поверхні стегон, поперекової області та сідниць від

    </div>
    <div class="position-price">
        <div class="price"> 5000€  </div>
        <div class="price-2">(200 000грн) </div>
    </div>
</div>
<div class="head " >

    <h4>Заголовок 2. POLYTECH (Німеччина)</h4>
    <p>Текстовий блок. 1 місце у 2-х місцевій палаті; спостереження, лікування, догляд медичним персоналом та черговим лікарем 24/7; лікарське лікування; харчування згідно з рекомендованою дієтою; перев'язування.</p>

</div>
<div> 
                        </div>
                </div>
            </div>
                </li>
            </ul>
    </div>
    <div class="price-block-footer">
        <h4>Важливо</h4>
        <p>Вартість послуг вказана в € (євро) та ₴ (гривні) та має виключно інформаційний характер. Остаточна вартість формується після проведення консультації пластичним хірургом. Оплата здійснюється в касу клініки в національній валюті України будь-яким зручним способом (готівка, банківська картка, переказ на рахунок)   </p>
    </div>
</div>