<div class="scientific-activity">
    <div class="image-wrapper">
        <img src="./img/doctor-4.webp" alt="foto">
    </div>
    <div class="scientific-activity__wrapper">
        <div class="scientific-activity__description">
            <h3>НАУКОВА ДІЯЛЬНІСТЬ</h3>
            <div class="line-3"><img src="./img/line-3.png" alt="line"></div>
            <p>Доктор Сажієнко є піонером у регенеративної пластичної хірургії в Україні та протягом багатьох років
                займався науковими експерементальними та клінічними дослідженнями в цій галузі.</p>
            <p>Він є автором наукових та практичних публікацій присвячених: регенеративної хірургії, а також
                онкопластичкою та реконструктивною хірургією обличчя та молочних залоз.</p>
            <p>Доктор Сажієнко є співавтором монографій та глави у посібнику для пластичних хірургів. З 2001 року доктор
                є постійним лектором на конференціях та майстер-класах як в Україні так і за кордоном.</p>
        </div>
    </div>
</div>