<div class="scientific-activity">
    <div class="image-wrapper">
        <img src="./img/acquaintance.webp" alt="foto">
    </div>
    <div class="scientific-activity__wrapper">
        <div class="scientific-activity__description">
            <ul>
                <li>
                    <p>Тривалість операції <span>- від 50 хвилин до кількох годин</span> </p>
                </li>
                <li>
                    <p>Анестезія Загальна</p>
                </li>
                <li>
                    <p>Ціна від 6500 €</p>
                </li>
                <li>
                    <p>Ціна включає:</p>
                </li>
            </ul>
            <p>Ніч у клініці, харчування, аналізи крові, анестезія, післяопераційний догляд, засоби особистої гігієни,
                ліки, спеціальний післяопераційний одяг.</p>
        </div>
    </div>
</div>