<div class="together-to-victory">
    <div class="together-to-victory--description">
        <h3>РАЗОМ ДО ПЕРЕМОГИ!</h3>
        <p>Доктор Сажієнко є офіцером у запасі Медичних сил Збройних Сил України та надає безкоштовну консультативну та
            хірургічну допомогу за направленням пластичної реконструктивної хірургії українським військовим та пораненим
            цивільним особам під час війни.</p>
    </div>
    <div class="hand-2"> <img src="./img/hand-2.png" alt=""></div>
    <div class="img-wrapper">
        <img src="./img/doctor-6.webp" alt="foto">
    </div>
</div>