<div class="video-reviews">
  <h2>ВІДЕО ВІДГУКИ</h2>
  <div class="gallery-item-wrapper">
    <ul>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
      <li>
        <button uk-button uk-button-defaul type="button" uk-toggle="target: #modal-video">

          <img src="./img/video-1.webp" alt="video">
        </button>
        <div class="gallery-item-wrapper-description">
          <h3>Лілія, 55 років</h3>
          <p>Липосакція зовнішньої та внутрішньої поверхні стегон</p>
        </div>
      </li>
    </ul>
  </div>
</div>